/*=======================*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
*:not(.fa){
  font-family: 'Oswald',sans-serif;
}
a{
  text-decoration: none !important;
}
body{
  overflow-x: hidden;
  margin: 0;
}
button:focus{
  outline:0;
}
.wrapper{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/*=======================*/
.masthead {
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 90px;
  background-color: #56424f;
}
.masthead-relative{
  width: 1500px;
  margin: 0 auto;
  height: 100%;
  background-size: contain;
  background-repeat: repeat-x;
  position: relative;
}
.nav-left{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.nav-right{
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
}
.masthead-relative ul{
  margin: 0;
  padding: 1em;
  display: table;
  text-align: center;
}
.masthead-relative ul li{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.nav-left ul, .nav-left li{
  list-style-type: none !important;
  color: white;
}
.nav-right ul, .nav-right li{
  list-style-type: disc;
  color: white;
}
.masthead-relative ul li button {
  color: white;
  border: 0;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  margin: 0.75em;
  transition: 0.3s;
}
.masthead-relative ul li button:hover{
  transform: scale(1.25);
}
.masthead-relative ul li .material-icons{
  font-size: 38px !important;
}
.menu-btn {
  width: 40px;
  height: 30px;
  position: relative;
  transition: 0.3s;
}
.menu-btn hr{
  display: block;
  width: 100%;
  height: 3px;
  background-color:white;
  border: 0;
  transition: 0.3s;
  position: absolute;
}
.menu-btn-hr-1{
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}
.menu-btn-hr-2{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.menu-btn-hr-3{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}
.menu-btn.active .menu-btn-hr-1{
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.menu-btn.active .menu-btn-hr-2{
  opacity: 0;
}
.menu-btn.active .menu-btn-hr-3{
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.main-nav{
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #eecb80e6;
  width: 280px;
  text-align: left;
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
}
.main-nav.active{
  height: 270px;
}
.main-nav a {
  display: block;
  color: #89170C;
  padding: 0.75em;
  font-size: 18px;
  text-transform: uppercase;
}
@media(max-width:1550px){
  .masthead-relative{
    width: 90%;
  }
}
.logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  transition: 0.3s;
}
.logo img{
  width: 100%;
}
.logo:hover{
  transform: translateY(-50%) scale(1.1);
}
@media(max-width:1000px){
  .nav-left {
    z-index: 2;
  }
  .nav-right {
    z-index: 1;
  }
  .masthead {
  height: 80px;
  }
  .logo {
    width: 180px;
    transform: translateY(-50%);
    left: 0.5em;
  }
  .logo:hover {
    transform: translateY(-50%) scale(1.1);
  }
  .nav-left {
    left: 180px;
  }
}
@media(max-width:700px){
  .masthead{
    margin-top: 0;
  }
  .logo {
    width: 150px;
    transform: translateY(-50%);
    left: 0.5em;
  }
  .nav-left{
    left: 150px;
  }
  .menu-btn {
    width: 30px;
    height: 24px;
  }
  .masthead-relative ul li .material-icons {
    font-size: 32px !important;
  }
}
@media(max-width:600px){
  .main-nav {
    position: fixed;
    width: 100%;
  }
  .nav-right {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    transform: none;
  }
  .nav-right ul{
    width: 100%;
    padding: 0;
    background-color: brown;
  }
  .nav-left {
    left: 0;
    width: 100%;
  }
  .nav-left ul{
    width: 100%;
  }
  .nav-left-li-left{
    text-align: left;
  }
  .nav-left-li-right{
    text-align: right;
  }
  .masthead-relative ul li button {
    font-size: 14px;
  }
  .logo{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .logo:hover{
    transform: translate(-50%,-50%) scale(1.1);
  }
}
/*=======================*/
/*=======*/
.video-container .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
/*54,107,132,1*/
.video-container{
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  margin: 0;
}
.video-container video{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom:0%;
  width: 100%;
  height: auto;
  z-index: -1;
}
#bannerGirl{
  position: absolute;
  left: 75%;
  transform: translateX(-75%);
  bottom: 0px;
  z-index: 1;
  height: 100%;
}
.top-container section{
  width: 50%;
  height: 100%;
  position: relative;
  background: -moz-linear-gradient(left,rgba(17, 23, 66, 0.78)  0%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(left,rgba(17, 23, 66, 0.78)  0%, rgba(125,185,232,0) 100%);
  background: linear-gradient(to right,rgba(17, 23, 66, 0.78)  0%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e1c47', endColorstr='#007db9e8',GradientType=1 );
}
.top-container section article{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}
.top-container h2 {
  width: 100%;
  text-align: center;
  color: floralwhite;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 0.9em;
  letter-spacing: 2px;
  font-family: 'permanent marker';
}
.top-container h2 span{
  font-size: 40px;
  font-family: 'permanent marker';
}
.top-container h3 {
  width: 100%;
  text-align: center;
  color: floralwhite;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 0.9em;
  letter-spacing: 2px;
}
.top-container h3 span{
  font-size: 30px;
}
.top-container article a {
  font-size: 40px;
  text-transform: uppercase;
  padding: 0.25em 1em;
  background-color: #e1c242;
  color: #853423;
  border-radius: 1em;
}
/*=======*/
.video-container2{
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: relative;
  margin: 0;
}
/* .video-container2{
  position: relative;
} */
.video-container2 .overlay{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-image: url("images/fireDancer.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.8;
}
.video-container2 video{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top:0%;
  width: 100%;
  height: auto;
  opacity: 1;
  z-index:1;
}
/*=====*/
.second-container{
  background-color: purple;
}
.second-container section {
  height: 100%;
  width: 50%;
  position: relative;
  text-align: center;
}
.second-container article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 3;
}
.second-container section article header {
  font-size: 60px;
  text-transform: uppercase;
  color: white;
  font-family: 'permanent marker'
}
.second-container section article p{
  text-transform: capitalize;
  font-weight: 300;
  font-size: 20px;
  line-height: 2.5em;
  color: white;
  text-align: justify;
}

.second-container section article p span{
  color: Red;
  font-size: 35px;
  float: left;
}
.second-container article a{
    color: gold;
    text-transform: uppercase;
    font-size: 30px;
}
/*==============*/
.third-container{
  min-height: 700px;
  width: 100%;
  background-color: floralwhite;
  background-size: cover;
  position: relative;
  background-image: url("images/bg4.png");
}
.third-container header{
  width: 50%;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
}
.third-container header h2{
  font-size: 60px;
  text-transform: uppercase;
  font-family: 'permanent marker';
  color: teal;
}
.third-container header h3{
  color: black;
  text-transform: uppercase;
  font-size: 24px;
}
.third-container section{
  width: 100%;
  height: 500px;
  position: relative;
  margin-bottom: 1em;
}
.buffet-gallery{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
.buffet-gallery{
  opacity: 0;
  transition: 0.3s;
}
.buffet-gallery.active{
  opacity: 1;
}
.buffet-gallery ul{
  margin: 0;
  display: table;
  width: 100%;
  margin-bottom: 1em;
}
.buffet-gallery ul li{
  width: 33.3%;
  border: 1em solid transparent;
  position: relative;
  overflow: hidden;
  display: table-cell;
  vertical-align: top;
  height: 500px;
  -moz-background-clip: padding;     /* Firefox 3.6 */
 -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
 background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.buffet-gallery ul li p{
  position: absolute;
  bottom: 1em;
  padding: 1em;
  text-align: left;
  font-size: 20px;
  z-index: 3;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.75);
}
.buffet-gallery ul li img{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
}
.btn-cont{
  width: 100%;
  text-align: center;
}
.btn-cont button{
  display: inline-block;
  border: 0;
  cursor: pointer;
  margin-bottom: 0.5em;
  background-color: #a0dc27;
  color: teal;
  font-size: 30px;
  padding: 0em 0.5em;
}
.btn-cont  p{
  text-transform: uppercase;
  font-size: 18px;
}
.btn-cont a{
  display: inline-block;
  color: red;
  font-size: 30px;
  text-transform: uppercase;
  padding: 0em 2em;
  border-radius: 1em;
  cursor: pointer;
  margin-bottom: 0.5em;
  color: #7d3c2a;
}
/*==== fourth content ====*/
.about-section{
  background-color: #5d7a8d;
  background-image: url("images/bg4.png");
  background-size: cover;
}
.about-section h2 {
  width: 100%;
  padding: 1.5em 1.5em 0em 1.5em;
  line-height: 1em;
  font-size: 40px;
  text-transform: uppercase;
  color: gold;
  text-align: center;
}
.about-section section{
  width: 100%;
  display: table;
  padding: 1em;
}
.about-section article{
  display: table-cell;
  width: 33.3%;
  vertical-align: top;
  text-align: center;
  border: 1em solid transparent;
  -moz-background-clip: padding;     /* Firefox 3.6 */
 -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
 background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.about-section article header{
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.about-section article header img{
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.about-section article p {
  padding-top: 1em;
  font-size: 20px;
  color: #fde490;
  text-transform: uppercase;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.about-section article span {
    font-size: 30px;
}
.about-section a, .about-section button{
  display: inline-block;
  background-color: gold;
  font-size: 20px;
  text-align: center;
  color: #7d3c2a;
  padding: 0.5em;
  text-transform: uppercase;
  width: 50%;
}
/*===========*/
footer{
  background-color: #5d7a8d;
}
footer ul{
  display: table;
  width: 100%;
  height: auto;
  padding: 1em;
}
footer ul li{
  padding: 2em;
  display: table-cell;
  vertical-align: top;
  width: 33.3%;
}
footer ul li header{
  color: gold;
  text-transform: uppercase;
  font-size: 30px;
}
footer p, footer a{
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}
footer a{
  display: inline-block;
  margin: 0.5em 0em;
}
.footer-left{
  text-align: left;
}
.footer-center{
  text-align: center;
}
.footer-right{
  text-align: right;
}
