/*=======================*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  box-sizing: border-box !important;
}
*:not(.fa){
  font-family: 'Oswald',sans-serif;
}
a{
  text-decoration: none !important;
}
html,body{
  overflow-x: hidden;
}
button:focus{
  outline:0;
}
/*=======================*/
.masthead {
  width: 100%;
  position: fixed;
  z-index: 999;
  height: 90px;
  background-color: transparent;
}
.masthead.activeScroll{
  background-color: blue;
}
.masthead-relative{
  width: 1500px;
  margin: 0 auto;
  height: 100%;
  background-size: contain;
  background-repeat: repeat-x;
  position: relative;
}
.nav-left{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.nav-right{
  position: absolute;
  right: 200px;
  top: 50%;
  transform: translateY(-50%);
}
.masthead-relative ul{
  margin: 0;
  padding: 1em;
  display: table;
  text-align: center;
}
.masthead-relative ul li{
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.nav-left ul, .nav-left li{
  list-style-type: none !important;
  color: white;
}
.nav-right ul, .nav-right li{
  list-style-type: disc;
  color: white;
}
.masthead-relative ul li button {
  color: white;
  border: 0;
  text-transform: uppercase;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
  margin: 0.75em;
  transition: 0.3s;
}
.masthead-relative ul li button:hover{
  transform: scale(1.25);
}
.masthead-relative ul li .material-icons{
  font-size: 38px !important;
}
.menu-btn {
  width: 40px;
  height: 30px;
  position: relative;
  transition: 0.3s;
}
.menu-btn hr{
  display: block;
  width: 100%;
  height: 3px;
  background-color:white;
  border: 0;
  transition: 0.3s;
  position: absolute;
}
.menu-btn-hr-1{
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}
.menu-btn-hr-2{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.menu-btn-hr-3{
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0deg);
}
.menu-btn.active .menu-btn-hr-1{
  top: 50%;
  transform: translate(-50%,-50%) rotate(-45deg);
}
.menu-btn.active .menu-btn-hr-2{
  opacity: 0;
}
.menu-btn.active .menu-btn-hr-3{
  top: 50%;
  transform: translate(-50%,-50%) rotate(45deg);
}
.main-nav {
  position: absolute;
  right: 0;
  top:4.8em;
  background-color: #ffffffeb;
  width: 300px;
  text-align: left;
  height: 0px;
  overflow: hidden;
  transition: 0.3s;
}
.main-nav.active{
  height: 270px;
}
.main-nav a {
  display: block;
  color: #89170C;
  padding: 0.75em;
  font-size: 18px;
  text-transform: uppercase;
}
@media(max-width:1550px){
  .masthead-relative{
    width: 90%;
  }
}
.logo {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  transition: 0.3s;
}
.phone {
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.phone a{
  font-weight: 300;
  color: gold;
  font-size: 30px;
}
.phone a::before{
  content: "call us ";
  font-size: 20px;
  text-transform: uppercase;
}
.logo img{
  width: 100%;
}
.logo:hover{
  transform: translateY(-50%) scale(1.1);
}
@media(max-width:900px){
  .masthead-relative{
    width: 100%;
  }
  .masthead{
    margin-top: 0;
  }
  .logo {
    width: 150px;
    transform: translateY(-50%);
    left: 0.5em;
  }
  /* .nav-left{
    left: 150px;
  } */
  .nav-right{
    right: 0;
  }
  .menu-btn {
    width: 30px;
    height: 24px;
  }
  .masthead-relative ul li .material-icons {
    font-size: 32px !important;
  }
}
/* @media(max-width:700px){
} */
@media(max-width:700px){
  .main-nav {
    position: fixed;
    width: 100%;
  }
  .nav-right {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    transform: none;
  }
  .nav-right ul{
    width: 100%;
    padding: 0;
    background-color: #53444f;
  }
  .nav-left {
    left: 0;
    width: 100%;
  }
  .nav-left ul{
    width: 100%;
  }
  .nav-left-li-left{
    text-align: left;
  }
  .nav-left-li-right{
    text-align: right;
  }
  .main-nav {
    top: 8.5em;
  }
  .masthead-relative ul li button {
    font-size: 14px;
  }
  .logo{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  .logo:hover{
    transform: translate(-50%,-50%) scale(1.1);
  }
  .phone {
    position: absolute;
    color: white;
    right: 0px;
    top: 5.6em;
    left: auto;
    background-color: #00000094;
    transform: none;
    padding: 0.5em;
    width: 100%;
    text-align: center;
  }
  .phone a{
    font-weight: 300;
    color: gold;
    font-size: 24px;
  }
  .phone a::before{
    content: "call us ";
    display: none;
  }
}
@media(max-width:600px){
  .phone a{
    top:5em;
    font-size: 20px;
  }
}
/*=======================*/
/*=======*/
.video-container .overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
/*54,107,132,1*/
.video-container{
  width: 100%;
  height: 800px;
  overflow: hidden;
  position: relative;
  margin: 0;
}
.video-container::before {
  content: "";
  height: 800px;
  width: 100%;
  background-image: url("images/topBanner.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: fixed;
}
.video-container video {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%) scale(1.2);
  top: 50%;
  width: 100%;
  height: auto;
  z-index: -1;
}
.top-container section{
  width: 50%;
  height: 100%;
  position: relative;
  background: -moz-linear-gradient(left,rgba(17, 23, 66, 0.6)  0%,rgba(17, 23, 66, 0.4) 50%, rgba(125,185,232,0) 100%);
  background: -webkit-linear-gradient(left,rgba(17, 23, 66, 0.6),rgba(17, 23, 66, 0.4) 50%, rgba(125,185,232,0) 100%);
  background: linear-gradient(to right,rgba(17, 23, 66, 0.6),rgba(17, 23, 66, 0.4) 50%,rgba(125,185,232,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e1c47', endColorstr='#007db9e8',GradientType=1 );
}
.top-container section article{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
}
.top-container h2 {
  width: 100%;
  text-align: center;
  color: floralwhite;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 1.25em;
  letter-spacing: 2px;
  color: white;
}
.top-container p{
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.5em;
  color:white;
}
.top-container h3 {
  width: 100%;
  text-align: center;
  color: floralwhite;
  text-transform: uppercase;
  font-size: 50px;
  line-height: 0.9em;
  letter-spacing: 2px;
}
.top-container h3 span{
  font-size: 30px;
}
.top-container article a {
  font-size: 40px;
  text-transform: uppercase;
  padding: 0.25em 1em;
  background-color: #e1c242;
  color: #853423;
  border-radius: 1em;
}
@media(max-width:1200px){
  .video-container{
    height: 650px;
  }
  .video-container::before {
    bottom: 20%;
    background-position: 75% 0%;
  }
}
@media(max-width:1080px){
  .top-container h2 {
    font-size: 50px;
  }
  .video-container{
    height: 650px;
  }
}
@media(max-width:980px){
  .video-container video {
    height: 100%;
    transform: translate(-50%,-50%) scale(1.5);
  }
  .top-container h2 {
    font-size: 45px;
  }
  .top-container h3 {
    font-size: 40px;
  }
  .top-container article a {
    font-size: 30px;
  }
}
@media(max-width:800px){
  .video-container video {
    height: 100%;
    transform: translate(-50%,-50%) scale(2);
  }
  .top-container section article {
    position: relative;
    left: auto;
    top: auto;
    transform: none;
    width: 100%;
    text-align: center;
  }
  .top-container section {
      width: 100%;
      height: auto;
      position: absolute;
      bottom: 1em;
  }
  .top-container section br{
    display: none;
  }
  .top-container section article header{
    padding-bottom: 1em;
  }
  .top-container h2 {
    font-size: 40px;
  }
  .top-container p {
    font-size: 24px;
  }
  .top-container h3 {
    font-size: 30px;
  }
  .top-container h3 span {
    font-size: 20px;
  }
  .top-container article a {
    font-size: 24px;
    display: inline-block;
    margin-bottom: 0.5em;
  }
}
@media(max-width:600px){
  .video-container{
    height: 600px;
  }
  .top-container section{
    z-index: 4;
  }
  .top-container h2 {
    font-size: 30px;
  }
  .top-container p {
    font-size: 20px;
  }
  .top-container h3 {
    font-size: 24px;
  }
  .top-container h3 span {
    font-size: 18px;
  }
  .video-container video {
    height: 100%;
    transform: translate(-50%,-50%) scale(2.5);
  }
}
@media(max-width:500px){
  .video-container {
    height: 500px;
  }
}
@media(max-width:420px){
  .top-container h2 {
    font-size: 24px;
  }
  .top-container p {
    font-size: 18px;
  }
  .top-container h3 {
    font-size: 20px;
  }
  .top-container h3 span {
    font-size: 14px;
  }
  .top-container article a {
    font-size: 20px;
  }
}
/*=======*/
/*=====*/
.second-container-wrapper{
  position: relative;
  height: 700px;
  width: 100%;
  background-color: black;
}
.second-container{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: 0.3s;
  opacity: 0;
  background-color: white;
}
.second-container.active{
  opacity: 1;
}
#second-container-first{
  background-size: cover;
  background-position: center;
  background-image: url("images/bg6.jpg");
}
#second-container-second{
  background-size: cover;
  background-position: center;
  background-image: url("images/bg5.png");
}
#second-container-third{
  background-size: cover;
  background-position: center;
  background-image: url("images/bg7.jpg");
}
.second-container section {
  position: relative;
  width: 50%;
  height: 100%;
}
.second-container section article {
  position: absolute;
  width: 90%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  padding: 1em;
  text-align: center;
}
.second-container section article header {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}
#second-container-first article {
  background-color: #6a5a86e6;
}
#second-container-second article{
  background-color: #805068e6;
}
#second-container-third article{
	background-color: #6a9e0fe6;
}
.second-container section article header {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}
.second-container section article p {
  text-align: justify;
  color: beige;
  font-weight: 300;
  font-size: 20px;
  line-height: 2em;
  padding: 1em;
}
.second-container section article p span{

}
.second-container section article button {
    margin: 0.25em 0em 0.5em 0em;
    background-color: gold;
    border: 0;
    height: 50px;
    width: 50px;
    position: relative;
    cursor:pointer;
}
.second-container section article button .material-icons {
    color: darkred;
    position: absolute;
    left: 16px;
    top: 14px;
}
.second-container section article a {
  background-color: #f0c893;
  font-size: 24px;
  padding: 0.25em 1.25em;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 300;
  color: darkred;
}

/*==============*/



@media(max-width:1200px){
  .second-container-wrapper{
    height: 650px;
  }
}
@media(max-width:1080px){
  .second-container-wrapper{
    height: 650px;
  }
}
@media(max-width:980px){
  .second-container-wrapper section article header {
    font-size: 45px;
  }
  .second-container section article a{
    font-size: 20px;
  }
}
@media(max-width:800px){

  .second-container-wrapper section article header {
    font-size: 40px;
  }
  .second-container-wrapper section article p {
    font-size: 16px;
  }
  .second-container section {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .second-container section article {
    width: 100%;
    left: 50%;
    top: 100%;
    height: 50%;
    transform: translate(-50%,-100%);
  }
  #second-container-first{
    background: none;
  }
  #second-container-second{
    background: none;
  }
  #second-container-third{
    background: none;
  }
  .mobile-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
  }
  #second-container-first .mobile-img{
    background-size: cover;
    background-position: center;
    background-image: url("images/bg6.jpg");
  }
  #second-container-second .mobile-img{
    background-size: cover;
    background-position: center;
    background-image: url("images/bg5.png");
  }
  #second-container-third .mobile-img{
    background-size: cover;
    background-position: center;
    background-image: url("images/bg7.jpg");
  }
}
@media(max-width:600px){
  .second-container section article button {
    height: 40px;
    width: 40px;
  }
  .second-container section article button .material-icons {
    left: 12px;
    top: 9px;
  }
  .second-container section article p {
    padding: 0.5em 0em;
  }
}
@media(max-width:500px){
  .second-container-wrapper {
    height: 600px;
  }
  .second-container-wrapper section article header {
    font-size: 35px;
  }
  .second-container section article p {
    font-size: 15px;
  }
}
@media(max-width:450px){
  .second-container-wrapper {
    height: 500px;
  }
  .second-container-wrapper section article header {
    font-size: 30px;
  }
  .second-container section article a {
    font-size: 16px;
    display: block;
  }
  .second-container section article button {
    height: 30px;
    width: 30px;
  }
  .second-container section article p {
    font-size: 14px;
  }
    .second-container section article button .material-icons {
      left: 7px;
      top: 4px;
  }
  .second-container section article {
    top: 90%;
  }
  #second-container-first{
    background-color: #6a5a86e6;
  }
  #second-container-second{
    background-color: #805068e6;
  }
  #second-container-third{
  	background-color: #6a9e0fe6;
  }
}


/*============*/
.third-container{
  min-height: 700px;
  width: 100%;
  background-color: floralwhite;
  background-size: cover;
  position: relative;
  background-image: url("images/bg4.png");
}
.third-container header{
  width: 50%;
  padding-top: 3em;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
}
.third-container header h2{
  font-size: 60px;
  text-transform: uppercase;
  color: teal;
}
.third-container header h3{
  color: black;
  text-transform: uppercase;
  font-size: 24px;
}
@media(max-width:1000px){
  .third-container header {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media(max-width:900px){

}
@media(max-width:800px){
  .third-container {
    min-height: 650px;
  }
  .third-container header h2 {
    font-size: 50px;
  }
  .third-container header h3 {
    font-size: 20px;
  }
}
@media(max-width:600px){
  .third-container header {
    padding-bottom: 0.5em;
    text-align: center;
    width: 100%;
    font-size: 30px;
  }
  .third-container {
    min-height: 550px;
  }
  .third-container header h2 {
      font-size: 30px;
  }
  .third-container header h3 {
    font-size: 18px;
  }
}
#gallery{
  display: table;
  width: 100%;
  overflow-x: hidden;
  max-width: 1680px;
  margin: 0 auto;
  position: relative;
}
.gallery-stage{
  width: 800px;
  display: table-cell;
  vertical-align: middle;
  padding: 1em;
  cursor: pointer;
  position: relative;
}
.zoomBtn {
  border: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.zoomBtn .material-icons {
  color: white;
  font-size: 40px;
}
.gallery-main{
  width: 100%;
  height: 500px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
}
.gallery-nav{
  /* width: 800px; */
  display: table-cell;
  padding-top: 0.5em;
  padding-right: 0.5em;
  vertical-align: top;
}
.gallery-row{
  display: table;
  width: 100%;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
.gallery-row li{
  list-style-type: none;
  display: table-cell;
  width: 33.3%;
  height: 240px;
  padding: 1em;
  overflow: hidden;
  position: relative;
  border: 0.5em solid transparent;
  -moz-background-clip: padding;     /* Firefox 3.6 */
  -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
  background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
  cursor: pointer;
}
.thumbNail{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform-origin: left;
  transition: 0.3s;
  opacity: 1;
  transform: translate(-50%,-50%);
}
.thumbNail:hover{
  width: 110%;
}

@media(max-width:1500px){
  .gallery-nav {
    width: 600px;
  }
  .gallery-stage {
    width: auto;
  }
  .gallery-row li {
    height: 200px;
  }
}
@media(max-width:1260px){
   .gallery-main {
    height: 400px;
  }
  .gallery-nav {
    width: 550px;
  }
  .gallery-row li{
    border: 0.25em solid transparent;
  }
}
@media(max-width:1050px){
  .gallery-stage {
    width: 700px;
    display: block;
    margin: 0 auto;
  }
  .gallery-nav {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .gallery-stage{
    padding: 0;
  }
  .gallery-main {
    height: 350px;
  }
  .gallery-nav {
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 200px;
    width: 90%;
  }
  .gallery-nav::-webkit-scrollbar{
    display: none;
  }
  #gallery-scroll::-webkit-scrollbar{
    display: none;
  }
  .scroll-zone-right, .scroll-zone-left {
      position: absolute;
      z-index: 4;
      padding-top: 0.8em;
      padding-bottom: 0.8em;
      cursor: pointer;
      bottom: 0.8em;
      transition: 0.3s;
      font-size: 50px;
      transform: scaleX(0.5);
      font-weight: bold;
  }
  .scroll-zone-left {
    left: 0;
  }
  .scroll-zone-right {
    right: 0;
  }
  .gallery-nav nav {
    width: 1105px;
    position: absolute;
    left: 0;
    display: table;
  }
  .gallery-row {
    display: table-cell;
    width: 50%;
  }
  .gallery-row li {
    list-style-type: none;
    width: 180px;
    height: 180px;
    display: inline-block;
    border: 0.1em solid transparent;
  }
}
/*==========*/
.gallery-rotor{
  max-width: 1200px;
  height: 0;
  width: 0;
  overflow: hidden;
  transition: 0.3s;
}
.gallery-rotor.active{
  width: 90%;
  height: 80%;
}
#gallery-rotor{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 998;
  background-color: white;
  box-shadow: 0px 0px 15px black;
  /* display: none; */
}
#gallery-rotor section{
  position: relative;
  width: 100%;
  height: 100%;
}
.closeBtn {
  position: absolute;
  right: 1.1em;
  top: 1.1em;
  background-color: #00000080;
  border: 0;
  cursor: pointer;
  z-index: 4;
  padding: 0.5em;
  border-radius: 50%;
  height: 62px;
  transition: 0.3s;
}
.closeBtn .material-icons{
  font-size: 50px;
  color: white;
}
.closeBtn:hover{
  transform: scale(1.2);
}
.gallery-next, .gallery-back {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 0;
  z-index: 4;
  cursor: pointer;
  background-color: #00000090;
  transition: 0.3s;
  height: 49px;
  border-radius: 50%;
}
.gallery-next .material-icons, .gallery-back .material-icons{
  font-size: 50px;
  color: white;
}
.gallery-next:hover , .gallery-back:hover{
  transform: translateY(-50%) scale(1.2);
}
.gallery-next{
  right: 0;
}
.gallery-back{
  left: 0;
}
#gallery-rotor li{
  list-style-type: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  height: 100%;
  border: 0.75em solid white;
  z-index: 3;
  background-color: black;
  overflow: hidden;
  text-align: center;
}
.slide img{
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/*==========*/
.scroll-zone-right, .scroll-zone-left {
  display: none;
}
@media(max-width:780px){
  .gallery-stage{
    width: 90%;
  }
}
@media(max-width:520px){
  .gallery-nav {
    height: 150px;
  }
  .gallery-main {
    height: 250px;
  }
  .scroll-zone-right, .scroll-zone-left {
    bottom: 0;
  }
  .gallery-row li {
    width: 140px;
    height: 140px;
  }
  .gallery-nav nav {
    width: 865px;
  }
}
@media(max-width:400px){
  .scroll-zone-right, .scroll-zone-left {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    bottom: 1.2em;
    display: block;
    font-size: 30px;
  }
  .gallery-row li {
    width: 120px;
    height: 120px;
  }
  .gallery-nav nav {
    width: 745px;
  }
}
/*==== fourth content ====*/
.about-section{
  background-image: url("images/bg8.png");
  background-size: cover;
}
.about-section h2 {
  width: 100%;
  padding: 1.5em 1.5em 0em 1.5em;
  line-height: 1em;
  font-size: 40px;
  text-transform: uppercase;
  color: gold;
  text-align: center;
}
.about-section section{
  width: 100%;
  display: table;
  padding: 1em;
}
.about-section article{
  display: table-cell;
  width: 33.3%;
  vertical-align: top;
  text-align: center;
  position: relative;
  border: 1em solid transparent;
  -moz-background-clip: padding;     /* Firefox 3.6 */
 -webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
 background-clip: padding-box;      /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.about-section article header{
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}
.about-section article header img{
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.about-section article p {
  padding-top: 1em;
  font-size: 20px;
  color: #fde490;
  text-transform: uppercase;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.about-section article span {
    font-size: 30px;
}
.about-section a, .about-section button{
  display: inline-block;
  background-color: gold;
  font-size: 20px;
  text-align: center;
  color: #7d3c2a;
  padding: 0.5em;
  text-transform: uppercase;
  width: 50%;
}
@media(max-width:900px){
  .about-section article header {
    height: 300px;
  }
  .about-section article p {
    padding-top: 1em;
    font-size: 18px;
    height: 190px;
  }
  .about-section a, .about-section button {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border: 0;
  }
  .about-section article span {
    font-size: 25px;
  }
}
@media(max-width:700px){
  .about-section h2 {
    font-size: 30px;
  }
  .about-section article header {
    height: 250px;
  }
  .about-section article span {
    font-size: 24px;
  }
  .about-section article p {
    height: 200px;
    font-size: 16px;
  }
  .about-section a, .about-section button {
    padding: 0.25em;
  }
  .about-section article{
    border: 0.25em solid transparent;
  }
}
@media(max-width:500px){
  .about-section h2 {
    font-size: 24px;
  }
  .about-section article header {
    height: 200px;
  }
  .about-section article span {
    font-size: 20px;
  }
  .about-section article p {
    height: 140px;
    font-size: 14px;
  }
  .about-section a, .about-section button {
    padding: 0.25em;
    font-size: 18px;
  }
  .about-section section {
    text-align: center;
  }
  .about-section article{
    border: 0.25em solid transparent;
  }
  .about-section article {
    display: inline-block;
    width: 100%;
  }
}

/*===========*/
/*===============================*/
.review-section{
  background-color: pink;
  background-image: url("images/bg4.png");
  background-size: cover;
  background-position: center;
}
.review-wrapper{
	width: 1050px;
	margin: 0 auto;
}
.dot{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: green;
	border: 4px double green;
}
.review-section h3 {
  text-align: center;
  color: #0bafa0;
  text-transform: uppercase;
  font-size: 50px;
  padding: 1em;
}
.review-section article {
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  background-color: white;
  border: 1.5em solid rgba(255,255,255,0.5);
  border-radius: 2em;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
.review-section article i {
  color: #009688;
  font-size: 2em;
  font-weight: bold;
}
.review-section article header {
  font-size: 24px;
}
.review-section article header iframe{
	width: 100%;
}
.review-section{
  font-size: 14px;
  line-height: 34px;
  letter-spacing: 1px;
}
.ta-link{
  margin: 0 auto;
  display: block;
  text-align: center;
}
.ta-link a {
  padding: 1em;
  color: #1b9220;
  text-align: center;
	transition: 0.3s;
}
.ta-link a:hover{
	color: white;
}
.ta-link i{
  font-size: 40px;
}
.ta-link p {
  font-size: 25px;
  text-transform: capitalize;
}
@media(max-width:1200px){
	.review-section,.article-cont{
		width: 100%;
	}
}
@media(max-width:800px){
	.review-section,.article-cont{
		width: 100%;
	}
}
@media(max-width:700px){
	.review-section p{
		font-size: 14px;
		line-height: 26px;
	}
	.review-section article {
    padding: 0.5em;
    border: 1em solid rgba(255,255,255,0.5);
	}
}
/*========*/
footer{
  background-color: #64669d;
}
footer ul{
  display: table;
  width: 100%;
  height: auto;
  padding: 1em;
}
footer ul li{
  padding: 2em;
  display: table-cell;
  vertical-align: top;
  width: 33.3%;
}
footer ul li header{
  color: gold;
  text-transform: uppercase;
  font-size: 30px;
}
footer p, footer a{
  color: white;
  text-transform: uppercase;
  font-size: 18px;
}
footer a{
  display: inline-block;
  margin: 0.5em 0em;
}
.footer-left{
  text-align: left;
}
.footer-center{
  text-align: center;
}
.footer-right{
  text-align: right;
}
@media(max-width:600px){
  footer ul{
    padding: 0;
  }
  footer ul li header{
    font-size: 20px;
  }
  footer p, footer a{
    font-size: 16px;
  }
}
@media(max-width:500px){
  footer ul li{
    display: block;
    width: 100%;
    padding: 1em;
  }
  .footer-left{
    text-align: center;
  }
  .footer-center{
    text-align: center;
  }
  .footer-right{
    text-align: center;
  }
}
